@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 2rem;
  z-index: 999;
  background-color: #eab67670;
  backdrop-filter: blur(5px);
  max-height: 80px;
}

.header a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
}
.logoName{
  color: #ffffff;
  font-size: 2rem;
  padding: 0.5em 1em;
}

.menu-items {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu-items li a {
  font-size: 1rem;
  padding: 0.5em 1em;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.menu-items li a:hover {
  background-color: #f29d20;
}

/* nav menu button */
.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
}

.menu-btn__lines::before,
.menu-btn__lines::after {
  content: "";
  position: absolute;
}

.menu-btn__lines::before {
  transform: translateY(-0.5rem);
}

.menu-btn__lines::after {
  transform: translateY(0.5rem);
}

/* animation */
.menu-btn.open .menu-btn__lines {
  transform: translateX(2rem);
  background-color: transparent;
}

.menu-btn.open .menu-btn__lines::before {
  transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  background-color: #ffffff;
}

.menu-btn.open .menu-btn__lines::after {
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  background-color: #ffffff;
}

.hov:hover h5 {
  color: white;
}
.hov:hover svg {
  color: white;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1628851596 svg {
    width: calc(147% + 1.3px);
    height: 152px;
  }

  .header a {
    font-size: 1rem;
  }

  .menu-btn {
    display: flex;
  }

  .menu-items {
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    transform: translateX(100vw);
    background-color: #eab67670;
    margin-top: 56px;
    transition: transform 0.3s ease-in-out;
    font-weight: 700
  }

  .menu-items.open {
    transform: translate(0);
    margin-top: 56px;
    position: -webkit-sticky;
    z-index: 9999;
  }

  .menu-items li {
    width: 100vw;
    /* height: 100%; */
  }

  .menu-items li a {
    color: #ffffff;
    /* font-size: 5vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .menu-items li a:hover {
    color: #111111;
  }
}
